
			nav {
				height: 48px;
				background-color: #4F4D53
			}
			
			h1 {
				font-family: Roboto Black (900);
				font-size: 100px;
				color: #4F4D53;
			}
			
			#divHello {
				margin-top: -400px;
				height: 300px;
			}
			
			h2 {
				font-family: Roboto Black (900);
				font-size: 64px;
				color: #E8BE02;
				text-align: center;
			}
			
			h3 {
				font-family: Roboto Black (900);
				font-size: 20px;
				color: #E8BE02;
				text-align: center;
			}
			
			h4 {
				font-family: Roboto Regular (400);
				font-size: 14px;
				color: #FFFFFF;
				text-align: center;
			}
			
			p {
				font-family: Roboto Regular (400);
				font-size: 20px;
				color: #4F4D53;
				text-align: center;
			}
			
			.footer {
				width: 100%;
				height: 320px;
				background-color: #4F4D53;
			}
			
			band {
				height: 12px;
				background-color: #E8BE02;
			}
			
			aside {
				float: left;
				width: 140px;
				margin-left: 100px;
				margin-top: 40px;
			}
			
			.circles {
				align: center;
				display: flex;
				height: 300px;
			}
			
			#imgCircle {
				margin-left: 100px;
				float: left;
				z-index: 9999;
			}
			
			#imgYellow {
				z-index: -1;
				width: 100%;
			}
			
			#divCircles {
					width: 100%;
			}
			
			#itstarted {
				height: 150px;
			}
			
			#paragraf{
				height: 250px;
			}
			
			.line_block {
				display: block;
				background: #E8BE02;
				width: 100%;
				height: 20px;
			}
			